{% extends "registro.html" %}

{% block content %}
    <div>
        <p class="parrafo">
            Para verificar tu cuenta, hemos enviado un código de verificación a la dirección de correo electrónico que proporcionaste durante el registro. <br>
            Por favor, revisa tu correo electrónico y busca el mensaje que te hemos enviado. Si no lo encuentras, verifica tu carpeta de spam o correo no deseado. El correo electrónico debería tener el asunto "Codigo de verificación" y contener el código de verificación. <br>
            Una vez que tengas el código de verificación, vuelve a nuestra página web e ingresa el código en el campo correspondiente. Asegúrate de ingresar el código exactamente como se muestra en el correo electrónico, sin espacios adicionales ni caracteres especiales.
        </p>
    </div>
    <div class="box">
        <div>
            <p>Le enviamos un código de verificación al correo: <Strong> {{ email }} </Strong> </p>
        </div>
        <form action="/autenticacion/ " method="POST"> {% csrf_token %} 
            <input type="text" class="input" placeholder="Codigo de verificación" name="token" required>
            <input class="btn" type="submit" value="Verificar">
        </form>
        {% if tokenInvalido %}
            <p style ="color: red" >El código ingresado no es válido</p>
        {% endif %}
        
    </div>
{% endblock %}