{% extends "index.html" %}

{% block content %}
    <div>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure atque odit voluptatibus sed voluptate necessitatibus quisquam dicta. Sequi consequuntur consectetur et voluptatibus impedit, laudantium harum, qui dolorum, ipsum neque aliquam.</p>
    </div>
    <div class="box">
        <div>
            <p>Le enviamos un código de verificación al correo: <Strong> {{ email }} </Strong> </p>
        </div>
        <form action="/autenticacion/ " method="POST"> {% csrf_token %} 
            <input type="text" class="input" placeholder="Codigo de verificación" name="token" required>
            <input class="btn" type="submit" value="Verificar">
        </form>
        {% if tokenInvalido %}
            <p style ="color: red" >El código ingresado no es válido</p>
        {% endif %}
        
    </div>
{% endblock %}