{% extends "index.html" %}

{% block content %}
    <div>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure atque odit voluptatibus sed voluptate necessitatibus quisquam dicta. Sequi consequuntur consectetur et voluptatibus impedit, laudantium harum, qui dolorum, ipsum neque aliquam.</p>
    </div>
    <div class="box">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <input type="text" class="input" placeholder="Codigo de verificación">
        <input class="btn" type="submit">
    </div>
{% endblock %}