{% extends "index.html" %}
{% load static %}

{% block content %}
    <div>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nobis sed incidunt laborum rem magni qui placeat, facere repudiandae harum totam dicta vero aperiam saepe quae, illum ratione aliquam corrupti.</p>
    </div>
    <div class="container-img">
        <img class="check" src="{% static 'images/check.png' %}" alt="" width="150px">
    </div>
    <div>
        <p>Felicitaciones <strong>{{nombre}}</strong>, ya puede usar <strong>OrionBot</strong> desde su celular</p>
    </div>
    <div>
        <a href="https://api.whatsapp.com/send?phone=+15550176858&text=Hola,%20%C2%BFc%C3%B3mo%20est%C3%A1s%3F" class="btn">Abrir WhatsApp</a>
    </div>

{% endblock %}