{% extends "index.html" %}
{% load static %}

{% block content %}
    <p class="parrafo">
        Bienvenido/a a nuestro chatbot con inteligencia artificial para WhatsApp. Nuestro bot ha sido diseñado para hacerte la vida más fácil y para que puedas obtener respuestas rápidas y precisas a tus preguntas en cualquier momento y lugar. <br>
        Para comenzar a usar nuestro chatbot, simplemente regístrate en nuestra página web. Es fácil y rápido: solo necesitas ingresar algunos detalles básicos, como tu nombre y número de teléfono. Una vez que te hayas registrado, podrás acceder al chatbot desde WhatsApp y comenzar a chatear con él. <br>
        Así que, ¿qué estás esperando? Regístrate hoy mismo en nuestra página web y comienza a disfrutar de las ventajas de tener un chatbot con inteligencia artificial siempre a tu disposición en WhatsApp.
    </p>
    <div class="container-img">
        <img src="{% static 'images/prototipos.png' %}" alt="">
    </div>
    <a href="login/" class="btn">Empezar</a>
{% endblock %}