{% extends "index.html" %}

{% block content %}
    <div>
        <p class="parrafo">
            Después de haber completado el registro, recibirás un correo electrónico con el código de verificacion para validar. Una vez que hayas verificado tu cuenta, podrás acceder al chatbot desde WhatsApp y comenzar a chatear con él. Nuestro chatbot está diseñado para responder tus preguntas de manera rápida y precisa, y se encuentra en constante aprendizaje para brindarte una experiencia aún mejor.
        </p>
    </div>
    <div class="box">
        <form action="/login/ " method="POST"> {% csrf_token %} 
            <input type="text" class="input" placeholder="Nombre" name="nombre" required>
            <input type="email" class="input" placeholder="Email" name="email" required>
            <input type="text" class="input" placeholder="Telefono" name="telefono" required>
            <input class="btn" type="submit" value="Registrar">
        </form>
    </div>
    <p class="parrafo">
        Nuestro chatbot utiliza inteligencia artificial avanzada para entender tus preguntas y proporcionarte las respuestas más precisas y relevantes.
    </p>
{% endblock %}