{% extends "index.html" %}

{% block content %}
    <div>
        <p class="parrafo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero excepturi a possimus eum blanditiis aliquid repudiandae error inventore dignissimos quasi maiores nisi officia iste aliquam dolor non beatae, voluptatibus tempore?</p>
    </div>
    <div class="box">
        <form action="">
            <input type="text" class="input" placeholder="Nombre">
            <input type="email" class="input" placeholder="Email">
            <input type="text" class="input" placeholder="Telefono">
            <input class="btn" type="submit" value="Verificar">
        </form>
    </div>
    <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quisquam eveniet perspiciatis nisi doloribus quidem atque repellat voluptatum nam, architecto laboriosam deleniti quaerat nobis provident explicabo voluptas asperiores, fugit esse.</p>

{% endblock %}