{% extends "registro.html" %}

{% block content %}

<p class="parrafo">
    Esta página web te permite conectarte con un chatbot inteligente a través de Facebook Messenger. Simplemente haz clic en el botón de acceso y autoriza el acceso a tu cuenta de Facebook. Una vez conectado, podrás chatear con el chatbot y recibir respuestas instantáneas a tus preguntas y consultas. El chatbot está diseñado para ofrecer una experiencia personalizada y eficiente, ayudándote en lo que necesites. ¡No esperes más y conéctate con el chatbot a través de Facebook Messenger ahora mismo!
</p>

<a href="https://www.facebook.com/profile.php?id=100092518629430" class="btn" target="_blank">OrionBot en FacebookMessenger</a>

{% endblock %}