{% extends "registro.html" %}

{% block content %}
<p class="parrafo">
    En nuestra página web podrás conectarte con nuestro chatbot inteligente a través de la plataforma de mensajería de Telegram. Con nuestro chatbot, podrás tener conversaciones naturales e interactivas con una inteligencia artificial diseñada para brindarte información y resolver tus dudas en tiempo real. Además, podrás acceder a nuestras funciones exclusivas, como la integración con tus redes sociales y otras plataformas de comunicación. Para conectarte, simplemente haz clic en el botón que se encuentra debajo de esta descripción. ¡Esperamos hablar contigo pronto!
</p>

<a href="https://t.me/OrionnBot" class="btn" target="_blank">OrionBot en Telegram</a>

{% endblock %}